.background {
    background-image: url("../images/light_texture2263.jpg");
}

.dashed {
    border-style: dashed;
    border-color:red;
  margin: 5px 10px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.icon-social {
    color: black;
}